# Elixir version
elixir_version=1.15.7

# Erlang version
erlang_version=26.1.2

# Export heroku config vars
config_vars_to_export=(DATABASE_URL SECRET_KEY_BASE)

# We can set the version of Node to use for the app here
node_version=20.10.0

# Add phoenix assets compilation
hook_pre_compile="mix assets.deploy"
